@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.App {
  text-align: center;
padding-top: 50px;
padding-bottom: 200px;
}

html {background-color: black}

* {
  color: white;
  transition: all .5s ease;
  font-family: 'Inter', sans-serif;
font-weight: 200;
}

.TransformedCreature{
  opacity: 0.3;
  pointer-events: none;
}

.Creatures{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  

  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

.Pika{
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  margin: 10px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.SelectedSign::after{
  content: "SELECTED";
  position: absolute;

  background-color: rgba(0, 0, 0, 0.582);
  font-size: 12px;
  font-weight: 200;
  border-radius: 20px;
  padding: 1px 14px;

  margin-top: 172px;
    margin-left: -69px;
}

.Creature{
display: flex;
flex-direction: column;
align-items: center;
}

.Creature:hover{
  /* border : 1px solid limegreen; */
}

.UnavailableSign{
  position: absolute;
  margin-top: 78px;
}

.ProceedButton{
  margin-top: 60px;
 /* color: rgb(255, 0, 0);*/
 color: black;
  background-color: rgb(179, 254, 0);
  font-size: 30px;
  border: 1px red solid;
  padding: 10px 50px;
  font-weight: 600;
  cursor: pointer;
}

.ProceedText{
  /*add stroke to text */
  color: black;
  -webkit-text-stroke: 1px red;
}